.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #c4b1ae;
}
.big-cont {
  display: flex;
  flex-direction: column;
}

.main-title {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #804e49;
  color: white;
  font-size: 3.5rem;
}

.search-bar.form-control {
  width: 60%;
}

.row-cont.row {
  height: 25rem;
}

.card-cont.card {
  height: 100%;
  width: 100%;
}
